.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.Button-g {
  padding: 15px 25px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: black;
  background-color: lightgray;
  border: none;
  border-radius: 8px;
}

.Button-g:hover {
  background-color: gray;
}

.Button-g:active {
  background-color: lightgray;
  /* box-shadow: 0 5px #666; */
  transform: translateY(4px);
}

.Button-o {
  padding: 15px 25px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: orangered;
  border: none;
  border-radius: 8px;
}

.Button-o:hover {
  background-color: orange;
}

.Button-o:active {
  background-color: orange;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.Button-g:focus,
.Button-o:focus {
  outline: 0;
}

.Library {
  float: left;
  width: 125px;
  height: 41px;
  left: 128px;
  top: 45px;

  font-family: Times New Roman;
  font-style: italic;
  font-weight: bold;
  font-size: 36px;
  line-height: 41px;

  color: #000000;
}

.Student {
  float: left;
  width: 50px;
  height: 50px;
  left: 78px;
  top: 37px;
  height: 50px;
  border: 3px;
  border-color: white;
}

.subtitle {
  color: gray;
  text-align: justify;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
