body {
  font-family: "Times New Roman", Times, serif;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.Button-g {
  padding: 10px 15px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: black;
  background-color: lightgray;
  border: none;
  border-radius: 8px;
  font-family: "Times New Roman", Times, serif;
}

.Button-g:hover {
  background-color: gray;
}

.Button-g:active {
  background-color: lightgray;
  /* box-shadow: 0 5px #666; */
  transform: translateY(4px);
}

.Button-o {
  padding: 10px 15px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #ee4622;
  border: none;
  border-radius: 8px;
  font-family: "Times New Roman", Times, serif;
}

.Button-o:hover {
  background-color: orange;
}

.Button-o:active {
  background-color: orange;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.Button-g:focus,
.Button-o:focus {
  outline: 0;
}

.cover-tile-image {
  text-align: right;
  padding-right: 3px;
}

.cover-tile-text {
  padding-left: 3px;
  padding-top: 0px;
  padding-bottom: 0px;
}

.icon {
  color: gray;
  height: 2.5rem;
  width: auto;
}

.jumbo {
  left: 78px;
  top: 99px;
  margin-top: 1.3em;
  margin-bottom: 0.2em;

  font-family: Times New Roman;
  font-style: normal;
  font-weight: bold;
  font-size: 50px;
  line-height: 101.5%;
  /* or 97px */

  color: #000000;
}

.landing-text {
  width: 500px;
  height: auto;
  margin-top: 1.5em;
  margin-bottom: 0.5em;

  font-family: Times New Roman;
  font-weight: bold;
  font-size: 91px;
  line-height: 82.49%;
  /* or 91px */

  color: #000000;
}

.logos {
  width: 25px;
  height: auto;
}

.navigasi {
  position: absolute;
  width: 1440px;
  height: 120px;
  left: 0px;
  top: 0px;

  background: #ffffff;
  font-family: "Times New Roman", Times, serif;
}
.subtitle {
  color: gray;
  text-align: justify;
  font-family: "Times New Roman", Times, serif;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Sidebar */
.nav-item {
  color: gray;
}
